* {
    margin: 0;
    padding: 0;
    background-color: #000;
}

:root {
    --primary-color: rgb(240, 71, 71);
    --primary-color-light: orange;
    --secondary-color: #789d98;
    --background-dark-color: #000;
    --border-color: #563232;
    --background-light-color-2: rgb(247, 141, 141);
    --span-color: rgba(219, 146, 146, 0.253);
}